---
name: JavaScript Tests

on:
  pull_request: ~
  push:
    branches: [ main ]

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

# Select JavaScript grammar.
defaults:
  run:
    working-directory: cratedb_sqlparse_js

jobs:

  tests:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        node-version: ["18", "20", "22"]

    env:
      OS: ${{ matrix.os }}
      NODEJS: ${{ matrix.node-version }}

    # https://docs.github.com/en/actions/using-containerized-services/about-service-containers
    services:
      cratedb:
        image: crate/crate:nightly
        ports:
          - 4200:4200
          - 5432:5432
        env:
          CRATE_HEAP_SIZE: 4g

    name: Node.js ${{ matrix.node-version }} on OS ${{ matrix.os }}
    steps:

    - name: Acquire sources
      uses: actions/checkout@v4

    # https://github.com/actions/setup-python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        architecture: x64

    # https://github.com/actions/setup-node
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    - name: Generate runtime grammar
      run: |
        cd ..
        pip install --requirement requirements.txt
        python setup_grammar.py javascript

    - name: Set up project
      run: npm install

    - name: Run linter and software tests
      run: npm test
